body {
  background: black;
}
.page {
  height: 92vh;
  width: 98vw;
}

.box {
  margin: auto;
  margin-top: 7vh;
  text-align: center;
  width: 80vw;
  border-radius: 25px;
  padding: 10px;
  height: 85vh;
  background: rgba(0, 0, 0, .5); margin-top: 7vh;
  box-shadow: 0px 0px 20px white,
  0px 0px 40px white,
  0px 0px 60px white,
  0px 0px 80px white,
  0px 0px 100px white;
}

button {
  width: 24vw;
  margin: 10px;
}