body {
  background: black;
}
.page {
  height: 92vh;
  width: 98vw;
}

.box {
  margin: auto;
  margin-top: 7vh;
  text-align: center;
  width: 80vw;
  border-radius: 25px;
  padding: 10px;
  height: 85vh;
  background: rgba(255, 255, 255, 0.5); margin-top: 7vh;
  box-shadow: 0px 0px 20px white,
  0px 0px 40px white,
  0px 0px 60px white,
  0px 0px 80px white,
  0px 0px 100px white;
}

img {
  height: 28vh;
  width: 18vw;
  margin-left: 1vw;
  margin-top: 5vh;
  position: relative;
  top: 0;
  right: 0;
  box-shadow:
  1px 1px 1px rgb(101, 101, 101),
  2px 2px 1px rgb(101, 101, 101),
  3px 3px 1px rgb(101, 101, 101),
  4px 4px 1px rgb(101, 101, 101),
  5px 5px 1px rgb(101, 101, 101),
  6px 6px 1px rgb(101, 101, 101),
  7px 7px 1px rgb(101, 101, 101),
  8px 8px 1px rgb(101, 101, 101),
  9px 9px 1px rgb(101, 101, 101),
  10px 10px 1px rgb(101, 101, 101);
}

img:hover {
  top: 5px;
  right: -5px;
  box-shadow:
  1px 1px 1px rgb(50, 50, 50),
  2px 2px 1px rgb(50, 50, 50),
  3px 3px 1px rgb(50, 50, 50),
  4px 4px 1px rgb(50, 50, 50),
  5px 5px 1px rgb(50, 50, 50);
}